h1{
    color: blue;
}
.btn{
    background-color: rgb(66, 66, 74);
    width: 400px;
    color: aliceblue;
    padding: 10px;
    text-align: center;
    margin: auto;
}
.lorem{
    background-color: rgb(183, 183, 191);
    width: 400px;
    color: red;
    padding: 10px;
    margin: auto;
}
.stop{
    font-size: 20px;
}