h1{
    color: blue;
}
.box-1{
    height: 120px;
    width: 150px;
    background-color: blue;
    margin-top: 10px;
    /* display: none; */ 
}
.box-2{
    height: 120px;
    width: 150px;
    background-color: coral;
    margin-top: 10px;
    /* display: none; */
}
.box-3{
    height: 120px;
    width: 150px;
    background-color:rgb(255, 0, 0);
    margin-top: 10px;
    /* display: none; */
}